@if(hero) {
  <!-- ngIf="hero; else divLoading" It doesn't work in angular 17 -->
  <div class="grid p-2">

    <mat-card class="col-12 sm:col-6">
      <mat-card-header>
        <mat-card-title>{{ hero.superhero }}</mat-card-title>
        <mat-card-subtitle>{{ hero.alter_ego }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="hero | heroImage" [alt]="hero.superhero" [title]="hero.superhero"/>
    </mat-card>
  
    <mat-card class="col-12 sm:col-6">
      <mat-card-header>
        <mat-card-title>Hero Information</mat-card-title>
        <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item><em>- First appearance: </em>{{ hero.first_appearance }}.</mat-list-item>
          <mat-list-item><div class="hero-char"><em>- Characters: </em>{{ hero.characters }}.</div></mat-list-item>          
          <mat-list-item><em>- Publisher: </em>{{ hero.publisher }}.</mat-list-item>
          <mat-list-item><em>- Alter ego: </em>{{ hero.alter_ego }}.</mat-list-item>
        </mat-list>
        <button
          mat-button
          color="warn"
          (click)="goBack()"
        >
          Go back
        </button>
      </mat-card-content>
    </mat-card>
  
  </div>
  
}
@else {
  <!-- <ng-template #divLoading> -->
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- </ng-template> It doesn't work in angular 17 -->
}
