<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push" class="side-nav">
  <!-- <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }"> Doesn't work ng-style=-->

    <mat-toolbar>
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <!-- Don't place "let item" to @for on Angular 17 -->
      @for (item of sidebarItems; track item) {
        <mat-list-item
        [routerLink]="item.url"
        (click)="sidenav.toggle()"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          {{ item.label }}
        </mat-list-item>
      }

      <!-- <mat-list-item
        *ngFor="let item of sidebarItems"
        [routerLink]="item.url"
        (click)="sidenav.toggle()"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item> Doesn't work on A17-->
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button
      mat-raised-button
      color="primary"
      style="background-color: #6b7acf"
    >
      <mat-icon>logout</mat-icon>
      <a routerLink="/auth/login">Logout</a>
    </button>
  </mat-toolbar>

  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
